div.iphone
{
    background-image: url(img/marco.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50%;
}
img.img_perfil
{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 5px;
}